.main-header {
    display: flex;
    gap: 16px;
    background-color: #141729;
    padding: 16px 64px;
    align-items: center;
}

.logo {
    color: white;
    font-weight: 800;
    border: 2px solid white;
    width: min-content;
    padding: 8px 4px;
}

.nav-col {
    flex: 1;
    /* border: 1px solid red; */
}

.nav-btns {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.nav-link {
    color: white;
    font-weight: 800;
    text-decoration: none;
    border: 1px solid white;
    border-width: 1px 0px 1px 0px;
}


.mobile-header{
    display: none;

    gap: 16px;
    background-color: #141729;
    padding: 16px 64px;
    align-items: center;

    justify-content: space-between;

    position: relative;
}

.menu-icon{
    display: flex;
}

.mobile-nav{
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(16px);

    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: calc(100dvh - 81px);
}



@media only screen and (max-width: 750px){

    .main-header{
        display: none;
    }
    .mobile-header{
        display: flex;
    }
}